<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.user.dao.IBankCardDAO">
	<resultMap id="bankCard_DB_Result" type="bankCard">
		<result column="code" property="code" />
		<result column="user_id" property="userId" />
		<result column="real_name" property="realName" />
		<result column="bank_code" property="bankCode" />
		<result column="bank_name" property="bankName" />
		
		<result column="subbranch" property="subbranch" />
		<result column="bankcard_no" property="bankCardNo" />
		<result column="bind_mobile" property="bindMobile" />
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="status != null and status != '' ">
				<choose>
		        	<when test="status== 'effective'">  
		            	AND t.status in (0,1) 
		        	</when>  
		        	<otherwise>  
		              	AND t.status = #{status}
		        	</otherwise>  
	        	</choose>
			</if>
		</trim>
	</sql>
	<select id="select_bankcard" parameterType="bankCard" resultMap="bankCard_DB_Result">
		SELECT
		code
		,user_id
		,real_name
		,bank_code
		,bank_name
		
		,subbranch
		,bankcard_no
		,bind_mobile
		,status
		,updater

		,update_datetime
		,remark
		FROM
		tstd_bankcard t
		<include refid="where_condition" />
		ORDER BY t.code DESC	
	</select>

	<select id="select_bankcard_count" parameterType="bankCard"
		resultType="java.lang.Long">
		SELECT count(1) FROM tstd_bankcard t
		<include refid="where_condition" />
	</select>

	<insert id="insert_bankcard" parameterType="bankCard">
		INSERT INTO
		tstd_bankcard(
		code
		,user_id
		,real_name
		,bank_code
		,bank_name
		
		
		,subbranch
		,bankcard_no
		,bind_mobile
		,status
		,updater

		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{userId}
		,#{realName}
		,#{bankCode}
		,#{bankName}
		
		
		,#{subbranch}
		,#{bankCardNo}
		,#{bindMobile}
		,#{status}
		,#{updater}

		,#{updateDatetime}
		,#{remark}
		)
	</insert>
	<delete id="delete_bankcard" parameterType="bankcard">
		DELETE FROM
		tstd_bankcard
		WHERE
		code = #{code}
	</delete>
	
	
	<update id="update_bankcard" parameterType="bankCard">
		UPDATE tstd_bankcard
		SET
		bank_code= #{bankCode}
		,bank_name= #{bankName}
		,subbranch= #{subbranch}
		,bankcard_no= #{bankCardNo}
		,bind_mobile = #{bindMobile}
		
		,status= #{status}
		,updater= #{updater}
		,update_datetime = #{updateDatetime}
		,remark= #{remark}
		WHERE code = #{code}
	</update>
	
	
</mapper>
