<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.forum.dao.ICommentDAO">
	<resultMap id="comment_DB_Result" type="comment">
		<result column="code" property="code" />
		<result column="content" property="content" />
		<result column="parent_code" property="parentCode" />
		<result column="status" property="status" />
		<result column="commer" property="commer" />
		
		<result column="nickname" property="nickname" />
		<result column="login_name" property="loginName" />
		<result column="comm_datetime" property="commDatetime" />
		<result column="approver" property="approver" />
		<result column="approve_datetime" property="approveDatetime" />
		
		<result column="approve_note" property="approveNote" />
		<result column="remark" property="remark" />
		<result column="post_code" property="postCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="content != null and content != '' ">
		        AND t.content like "%"#{content}"%"
			</if>
			<if test="parentCode != null and parentCode != '' ">
		        AND t.parent_code = #{parentCode}
			</if>
			<choose>
				 <when test='status == "BD"'>
				 	AND t.status in ('B','D')
				 </when>
				 <otherwise>
					 <if test='status != null and status != ""'>
		        		AND t.status = #{status}
					</if>
				 </otherwise>
			</choose>
			<if test="commer != null and commer != '' ">
		        AND t.commer = #{commer}
			</if>
			<if test="siteCode != null and siteCode != '' ">
		        AND tpt.site_code = #{siteCode}
			</if>
		</trim>
	</sql>
	
	<select id="select_comment" parameterType="comment" resultMap="comment_DB_Result">
		SELECT
		t.code
		,t.content
		,t.parent_code
		,t.status
		,t.commer
		
		,(select nickname from ${userDB}.tstd_user tu where tu.user_id=t.commer) as nickname
		,(select login_name from ${userDB}.tstd_user tu where tu.user_id=t.commer) as login_name
		,t.comm_datetime
		,t.approver
		,t.approve_datetime
		
		,t.approve_note
		,t.remark
		,t.post_code
		FROM
		tforum_comment t left join tforum_post tp on t.post_code = tp.code left join tforum_plate tpt on tp.plate_code = tpt.code
		<include refid="where_condition" />
		ORDER BY t.code DESC	
	</select>

	<select id="select_comment_count" parameterType="comment"
		resultType="java.lang.Long">
		SELECT count(1) FROM tforum_comment t left join tforum_post tp on t.post_code = tp.code left join tforum_plate tpt on tp.plate_code = tpt.code
		<include refid="where_condition" />
	</select>

	<insert id="insert_comment" parameterType="comment">
		INSERT INTO
		tforum_comment(
		code
		,content
		,parent_code
		,status
		,commer
		
		,comm_datetime
		,post_code
		)
		VALUES(
		#{code}
		,#{content}
		,#{parentCode}
		,#{status}
		,#{commer}
		
		,#{commDatetime}
		,#{postCode}
		)
	</insert>
	
	<update id="update_comment_approve" parameterType="comment">
		UPDATE tforum_comment
		SET
		status = #{status}
		,approver = #{approver}
		,approve_datetime = #{approveDatetime}
		,approve_note = #{approveNote}
		WHERE code = #{code}
	</update>
	
	<update id="update_comment_status" parameterType="comment">
		UPDATE tforum_comment
		SET
		status = #{status}
		<if test="remark != null and remark != '' ">
				,remark = #{remark}
		</if>
		WHERE code = #{code}
	</update>
	
	<delete id="delete_comment" parameterType="comment">
		DELETE FROM
		tforum_comment
		WHERE
		code = #{code}
	</delete>
	
	<delete id="delete_comment_post" parameterType="comment">
		DELETE FROM
		tforum_comment
		WHERE
		post_code = #{postCode}
	</delete>
</mapper>
