<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.forum.dao.IMenuDAO">
	<resultMap id="menu_DB_Result" type="menu">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="pic" property="pic" />
		<result column="order_no" property="orderNo" />
		<result column="belong" property="belong" />
		<result column="company_code" property="companyCode" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="belong != null and belong != '' ">
				AND t.belong = #{belong}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="name != null and name != '' ">
				AND t.name like "%"#{name}"%"
			</if>
		</trim>
	</sql>
	<select id="select_menu" parameterType="menu" resultMap="menu_DB_Result">
		SELECT
		t.code
		,t.name
		,t.pic
		,t.order_no
		,t.belong
		,t.company_code
		,t.remark
		FROM
		tforum_menu t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_menu_count" parameterType="menu"
		resultType="java.lang.Long">
		SELECT count(1) FROM tforum_menu t
		<include refid="where_condition" />
	</select>

	<insert id="insert_menu" parameterType="menu">
		INSERT INTO
		tforum_menu(
		code
		,name
		,pic
		,order_no
		,belong
		,company_code
		,remark
		)
		VALUES(
		#{code}
		,#{name}
		,#{pic}
		,#{orderNo}
		,#{belong}
		,#{companyCode}
		,#{remark}
		)
	</insert>

	<update id="update_menu_byglobal" parameterType="menu">
		UPDATE tforum_menu
		SET
		name = #{name}
		,pic = #{pic}
		,order_no = #{orderNo}
		,belong = #{belong}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

	<update id="update_menu_bylocal" parameterType="menu">
		UPDATE tforum_menu
		SET
		name = #{name}
		,pic = #{pic}
		,order_no = #{orderNo}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<delete id="delete_menu" parameterType="menu">
		DELETE FROM
		tforum_menu
		WHERE
		code = #{code}
	</delete>
</mapper>