<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.forum.dao.IPostTalkDAO">
	<resultMap id="postTalk_DB_Result" type="postTalk">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="post_code" property="postCode" />
		<result column="post_title" property="postTitle" />
		<result column="post_content" property="postContent" />
		<result column="talker" property="talker" />
		<result column="nickname" property="nickname" />
		<result column="photo" property="photo" />
		<result column="talk_datetime" property="talkDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="type != null and type != '' ">
		        AND t.type = #{type}
			</if>
			<if test="postCode != null and postCode != '' ">
		        AND t.post_code = #{postCode}
			</if>
			<if test="talker != null and talker != '' ">
		        AND t.talker = #{talker}
			</if>
			<if test="publisher != null and publisher != '' ">
		        AND tp.publisher = #{publisher}
			</if>
		</trim>
	</sql>
	
	<select id="select_postTalk" parameterType="postTalk" resultMap="postTalk_DB_Result">
		SELECT
		t.code
		,t.type
		,t.post_code
		,tp.title as post_title
		,tp.content as post_content
		
		,t.talker
		
		,(select nickname from ${userDB}.tstd_user tu where tu.user_id=t.talker) as nickname
		,(select photo from ${userDB}.tstd_user_ext tue where tue.user_id=t.talker) as photo
		,t.talk_datetime
		,t.remark
		FROM
		tforum_post_talk t inner join tforum_post tp on t.post_code = tp.code
		<include refid="where_condition" />
		ORDER BY t.code DESC	
	</select>
	
	<select id="select_postTalk_count" parameterType="postTalk"
		resultType="java.lang.Long">
		SELECT count(1) FROM tforum_post_talk t inner join tforum_post tp on t.post_code = tp.code
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_postTalk" parameterType="postTalk">
		INSERT INTO
		tforum_post_talk(
		code
		,type
		,post_code
		,talker
		,talk_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{type}
		,#{postCode}
		,#{talker}
		,#{talkDatetime}
		,#{remark}
		)
	</insert>
	
	<delete id="delete_postTalk" parameterType="postTalk">
		DELETE FROM
		tforum_post_talk
		WHERE
		code = #{code}
	</delete>
</mapper>
