<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.forum.dao.IPostTalkDAO">
	<resultMap id="postTalk_DB_Result" type="postTalk">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="post_code" property="postCode" />
		<result column="talker" property="talker" />
		<result column="amount" property="amount" />
		<result column="talk_datetime" property="talkDatetime" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="type != null and type != '' ">
		        AND t.type = #{type}
			</if>
			<if test="postCode != null and postCode != '' ">
		        AND t.post_code = #{postCode}
			</if>
			<if test="talker != null and talker != '' ">
		        AND t.talker = #{talker}
			</if>
		</trim>
	</sql>
	
	<select id="select_postTalk" parameterType="postTalk" resultMap="postTalk_DB_Result">
		SELECT
		code
		,type
		,post_code
		,talker
		,talk_datetime
		,amount
		FROM
		tforum_post_talk t
		<include refid="where_condition" />
		ORDER BY t.code DESC	
	</select>
	
	<select id="select_postTalk_count" parameterType="postTalk"
		resultType="java.lang.Long">
		SELECT count(1) FROM tforum_post_talk t
		<include refid="where_condition" />
	</select>
	
	<select id="select_persons_count" parameterType="postTalk"
		resultType="java.lang.Long">
		SELECT count(DISTINCT t.talker) FROM tforum_post_talk t left join tforum_post tp on t.post_code = tp.code where tp.plate_code = #{plateCode}
	</select>
	
	<insert id="insert_postTalk" parameterType="postTalk">
		INSERT INTO
		tforum_post_talk(
		code
		,type
		,post_code
		,talker
		,talk_datetime
		,amount
		)
		VALUES(
		#{code}
		,#{type}
		,#{postCode}
		,#{talker}
		,#{talkDatetime}
		,#{amount}
		)
	</insert>
	
	<delete id="delete_postTalk" parameterType="postTalk">
		DELETE FROM
		tforum_post_talk
		WHERE
		code = #{code}
	</delete>
</mapper>
