<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.forum.dao.IRuleDAO">
	<resultMap id="rule_DB_Result" type="rule">
		<result column="code" property="code" />
		<result column="kind" property="kind" />
		<result column="type" property="type" />
		<result column="level" property="level" />
		<result column="value" property="value" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="kind != null and kind != '' ">
				AND t.kind = #{kind}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="level != null and level != '' ">
				AND t.level = #{level}
			</if>
		</trim>
	</sql>
	<select id="select_rule" parameterType="rule" resultMap="rule_DB_Result">
		SELECT
		t.code
		,t.kind
		,t.type
		,t.level
		,t.value
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tforum_rule t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_rule_count" parameterType="rule"
		resultType="java.lang.Long">
		SELECT count(1) FROM tforum_rule t
		<include refid="where_condition" />
	</select>

	<insert id="insert_rule" parameterType="rule">
		INSERT INTO
		tforum_rule(
		code
		,kind
		,type
		,level
		,value
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{kind}
		,#{type}
		,#{level}
		,#{value}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_rule" parameterType="rule">
		UPDATE tforum_rule
		SET
		kind = #{kind}
		,type = #{type}
		,level = #{level}
		,value = #{value}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>


</mapper>