<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<!-- 分页BO层注入paginableDao -->
	<bean id="siteBO" class="com.std.forum.bo.impl.SiteBOImpl">
		<property name="paginableDAO" ref="siteDAOImpl" />
	</bean>
	<bean id="plateBO" class="com.std.forum.bo.impl.PlateBOImpl">
		<property name="paginableDAO" ref="plateDAOImpl" />
	</bean>
	<bean id="postBO" class="com.std.forum.bo.impl.PostBOImpl">
		<property name="paginableDAO" ref="postDAOImpl" />
	</bean>
	<bean id="postTalkBO" class="com.std.forum.bo.impl.PostTalkBOImpl">
		<property name="paginableDAO" ref="siteDAOImpl" />
	</bean>
	<bean id="commentBO" class="com.std.forum.bo.impl.CommentBOImpl">
		<property name="paginableDAO" ref="commentDAOImpl" />
	</bean>
	<bean id="keywordBO" class="com.std.forum.bo.impl.KeywordBOImpl">
		<property name="paginableDAO" ref="keywordDAOImpl" />
	</bean>
</beans>
